Package: com.idevicehacked.sampleprefs
Name: SamplePrefs
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: LucifersCircle
Author: LucifersCircle
Section: Tweaks
