Package: com.mpg13.undertime
Name: UnderTime
Depends: mobilesubstrate
Version: 1.6
Architecture: iphoneos-arm
Description: Customizable date under time in iX StatusBar.
Homepage: https://mpg13.github.io
Depiction: https://mpg13.github.io/repo/depicts/undertime.html
Maintainer: MPG13 <micahplacido@gmail.com>
Author: MPG13 <micahplacido@gmail.com>
Section: Tweaks
